body {
    background-color: #061320;
    color: #EB9D00;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #EB9D00;
    text-align: center;
}

form {
    margin: 40px auto;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px;
}

select {
    background-color: #BED8F0;
    border-radius: 5px;
    border: 2px solid #EB9D00;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
    width: 250px;
    margin: 10px 0;
}

h3 {
    color: #EB9D00;
    font-size: 1.5rem;
    margin-top: 40px;
    text-align: center;
}

pre {
    background: #BED8F0;
    border-radius: 5px;
    color: #061320;
    font-size: 1rem;
    margin: 10px auto;
    max-width: 800px;
    padding: 10px;
    text-align: left;
    white-space: pre-wrap;
    width: 80%;
    word-wrap: break-word;
}

footer {
    background-color: #061320;
    bottom: 0;
    color: #EB9D00;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

#copyButton {
    background-color: #EB9D00;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #061320;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px 15px;
}

#copyButton:hover {
    background-color: #FFB700;
    border: 2px solid #EB9D00;
}